html {
    font-size: 14px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family:  sans-serif;
    color: #444444;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #222222;
}

h1 {font-size: 2.5rem;} 
h2 {font-size: 2rem;} 
h3 {font-size: 1.75rem;} 
h4 {font-size: 1.5rem;} 
h5 {font-size: 1.25rem;} 
h6 {font-size: 1rem;} 

a{
    text-decoration: none;
    color: #3B82F6;
}
a:hover, a:focus {
    color: #0c4beb;
}

/* navbar */
#navbar{
    padding: 8px;
    margin: 0;
}

#logo-with-name {
    display: none;
}

/* banner image */
#banner{
    object-fit: cover;
    height: 150px;
    width: 100%;
}

/* about section */
h1{
    text-align: center;
    color: darkblue;
    margin: 12px 0;
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    padding: 8px;
}

#description {
    font-size: 1.25rem;
}

#team {
    width:100%;
}

#team-image {
    border-radius: 5px;
    width: 100%;
}

/* job opportunities */
h2{
    text-align: center;
    margin: 12px 0;
}

#jobs {
    max-width: 500px;
    margin: 0px auto;
    padding: 8px;
} 

#jobs-list {
    display: block;
}
#jobs-table {
    display: none;
}

.job {
    border: 1px solid #dddddd;
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
}

.job-title {
    font-size: 1.25rem      ;
    font-weight: 500px;
    color: #222222;
}

.job-detail {
    margin-top: 4px;
    color: #555555;
}


/* application form */
#application{
    max-width: 500px;
    margin: 0px auto;
    padding: 8px;
}
.form-group{
    margin: 16px 0px;
}
.form-group label{
    font-weight: 600;
}
.form-group input, select, textarea{
    font-size: 1.25rem;
    width: 90%;
    padding: 8px;   
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;

}
#application-form textarea{
    font-family: 'robot', sans-serif;
}
.form-group input[type = 'checkbox']{
    width: 16px;
    height: 16px;
}
.form-group input[type = 'submit']{
    background-color: #3B82F6;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}
#footer-links {
    list-style: none;
    padding: 0;
}
#footer-links li{
    margin: 0 16px;
}
.copyright {
    color: gray;
}




/* Small devices (mobile/tablets) */
@media screen and (min-width: 576px){
    /* CSS rules */
    html{
        font-size: 16px;
    }
    #logo {
        display: none;
    }
    #logo-with-name {
        display: block;
    }
    #banner{
        height: 220px;
    }
    h1 {
        margin: 16px 0;
    }
    .form-group input, select{
        width: auto;
    }
    .form-group textarea {
        width: 80%;
    }
    #footer-links li{
        display: inline;
    }
}

/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) {
    /* CSS rules */
    #banner {
        height: 260px;
    }
    h1{
        margin: 20px 0;
    }
    #about {
        max-width: 800px;
        flex-direction: row;
    }
    #description {
        width: 50%;
        padding-right: 8px;
    }
    #team {
        width: 50%;
        padding: 8px;
    }
    h2{
        margin: 20px 0;
    }
    #jobs {
        min-width: 800px;
    }
    #jobs-list {
        display: none;
    }

    #jobs-table{
        width: 100%;
        display: table;
        border: 1px solid gray;
        border-collapse: collapse;
    }
    .job-header-row th{
        border: 1px solid gray;
        padding: 8px;
        background-color: #BAE6FD;
        text-align: center;
        color: #222222;
    }
    .job-data-row td{
        border: 1px solid gray;
        padding: 8px;
    }
    #jobs-table tr:nth-child(odd){
        background-color: #E0F2FE;
    }

    #application {
        max-width: 800px;
    }
    .form-group textarea {
        width: 80%;
    }
}





/* 




*/




























